{{ define "index.html" }}{{ template "header.html" . }} {{ template
"errors.html" . }}

<h2 class="form-title">Create your secret letter</h2>

<form class="form" action="/letter/new" method="POST">
  <div class="labeled-input">
    <label for="text">Your text</label>
    <textarea maxlength="1200" name="text" id="text"></textarea>
    <p class="helper-text">
      Maximum text length 1200 characters
    </p>
  </div>
  <div class="labeled-input">
    <label for="ttl">Lifetime of your secret letter</label>
    <input type="number" inputmode="numeric" name="ttl" id="ttl" min="{{.minTTL}}" max="{{.maxTTL}}" />
    <p class="helper-text">
      Lifetime of a secret letter is indicated in seconds
    </p>
    <p class="helper-text">
      Minimum value {{ .minTTL }} seconds
    </p>
    <p class="helper-text">
      maximum value is {{ .maxTTL }} seconds, that is, a day
    </p>
  </div>
  <button type="submit" class="submit-button">Save secret letter</button>
</form>

{{ template "footer.html" . }} {{ end }}
